$backgroundColor: rgba(1, 1, 194, 0.582);
$frontTextColor: rgb(221, 221, 221);

body {
    background-color: $backgroundColor;
}

.title {
    color: $frontTextColor;
    font-family: 'Archivo';
    text-align: center;
    font-size: larger;
}

@media only screen and (min-width: 1000px) {

}